@font-face {
    font-family: 'ITC-Avant-Garde-Gothic-Std-Book';
    src: url("./fonts/ITC-Avant-Garde-Gothic-Std-Book.otf");
}

html, body {
    height: 100%;
    width: 100%;
}

html, body, h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'ITC-Avant-Garde-Gothic-Std-Book', sans-serif;
}

header {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    background-color: lightblue;
}

header > h1 {
    font-size: 42px;
    margin-left: 100px;
}

.left-menu {
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}

.left-menu > h2 {
    font-size: 30px;
    margin-top: 25px;
}